{% load staticfiles %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static "css/form.css" %}">    
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">    
    <script src="https://cdn.traitify.com/lib/v1.js"></script>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
  </head>
  <body>

    <script type="text/javascript">
      $(window).load(function(){
           $('#myModal').modal('show');
      });
  	</script>
    
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="myModalLabel" style="text-align:center;">Who are you?</h2>
          </div>
            <div style="width:400px; margin-right:auto; margin-left:auto;">
              <form class="go-right form-horizontal" action="/tests/log/" method="post" style="text-align:center;">
                {% csrf_token %}
                <div>
                  <input id="FirstName" name="first" type="text" required>
                  <label for="FirstName">First Name</label>
                </div>
                <div>
                  <input id="LastName" name="last" type="text" required>
                  <label for="LastName">Last Name</label>
                </div>
                <br/>
                <button type="submit" id= "quizStartBtn" class="btn btn-primary" value="Submit">Start Quiz</button>
              </form>
            </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>