{% load staticfiles %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static "css/form.css" %}">    
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}"> 
    <link rel="stylesheet" type="text/css" href="{% static "css/sweet-alert.css" %}">       
    <script src="https://cdn.traitify.com/lib/v1.js"></script>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/sweet-alert.min.js" %}"></script>

  </head>
  <body>

    <script type="text/javascript">
      $(window).load(function(){
        $('#assessment').css({'display': 'inline-block'});
        $('.myModal').modal('show');
        $('.myModal').css({'display': 'none'});
      });
    </script>


    <div class="assessment"></div>

    <script>
      Traitify.setPublicKey("sq1ekdq2849c1778327k1cfqho");
      Traitify.setHost("https://api-sandbox.traitify.com");
      Traitify.setVersion("v1");
      var assessmentId = "{{test_id}}";
      slideDeck = Traitify.ui.load(assessmentId, ".assessment").slideDeck;

      slideDeck.onFinished(function(){
        var assessment = $.post("/tests/assess",  {csrfmiddlewaretoken:'{{csrf_token}}'});
         assessment.then(function(){
          sweetAlert("Good job!", "You have completed the exam.  Your teacher can now review your results.", "success");
         });

        console.log(slideDeck);
        console.log("Finished!");
    });
    </script>
  </body>
</html>